::deep .modal-dialog {
    max-height: calc(100vh - 2rem);
    margin: 1rem auto;
}

::deep .modal-content {
    max-height: calc(100vh - 2rem);
}

::deep .modal-body {
    overflow-y: auto;
}

::deep .form-check-input:not(:checked) {
    background-color: #6c757d;
    border-color: #6c757d;
}
