::deep .modal-dialog.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - 2rem);
    margin: 1rem auto;
}

::deep .modal-content {
    width: 100%;
    max-height: calc(100vh - 2rem);
}

::deep .modal-body {
    overflow-y: auto;
}

::deep .form-check-input:not(:checked) {
    background-color: #6c757d;
    border-color: #6c757d;
}
