.status-col {
    width: 140px;
}

.status-col .badge {
    display: inline-block;
    min-width: 70px;
    text-align: center;
}

.actions-col {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

@media (min-width: 992px) {
    .actions-col {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.15rem;
    }
}
