.repositories-table th,
.repositories-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repositories-table thead,
.repositories-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.page-container {
    padding-block: var(--bs-gutter-x);
    display: flex;
    flex-direction: column;
}

.page-card {
    flex: 1 1 auto;
    min-height: 0;
}

.page-card .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-card .table-responsive {
    flex: 1 1 auto;
    min-height: 0;
}

.col-repo {
    width: 30%;
}

.col-owner {
    width: 20%;
}

.col-connector {
    width: auto;
    min-width: 0;
}

.col-visibility {
    width: 8rem;
    min-width: 8rem;
    text-align: right;
    padding-right: 0.75rem;
}

.repositories-table th.col-visibility {
    padding-right: 0.75rem;
}

.badge-private,
.badge-public {
    display: inline-block;
    width: calc(8ch + 2px);
    min-width: calc(8ch + 2px);
    text-align: center;
}

.badge-private {
    background-color: #6c757d;
    color: #000000;
}

.badge-public {
    background-color: #b58900;
    color: #000000;
}
