.workspaces-table {
    table-layout: fixed;
    width: 100%;
}

.workspaces-table thead,
.workspaces-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.workspaces-table th,
.workspaces-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-name {
    width: 25%;
}

.col-path {
    width: 35%;
}

.col-count {
    width: 10%;
    text-align: center;
}

.col-actions {
    width: 30%;
}

.badge-default {
    background-color: #2f6f9f;
    color: #ffffff;
}

.default-star-icon {
    color: #f1c40f;
}

.default-star-button {
    padding: 0;
    border: none;
    background: transparent;
    line-height: 1;
}

.default-star-button:hover,
.default-star-button:focus {
    text-decoration: none;
}

::deep .loading-overlay {
    z-index: 11050;
}
