.repositories-table th,
.repositories-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repositories-table thead,
.repositories-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.repositories-table tbody {
    display: block;
    max-height: calc(100vh - (var(--bs-gutter-x) + var(--bs-gutter-x) + 260px));
    overflow-y: auto;
    overflow-x: hidden;
}

.page-container {
    padding-block: var(--bs-gutter-x);
    display: flex;
    flex-direction: column;
}

.page-card {
    flex: 1 1 auto;
    min-height: 0;
}

.page-card .card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-card .table-responsive {
    flex: 1 1 auto;
    min-height: 0;
}

.col-repo {
    width: auto;
    min-width: 0;
}

.col-sync {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}

.col-version {
    width: auto;
    min-width: 0;
}

.col-branch {
    width: auto;
    min-width: 0;
}
